.Container{
    width: 100%;
    min-height: 100px;
    padding: 20px;
    margin-top: 50px;
    border: 1px solid #ddd;
    
}


.Bio{
    margin-bottom: 30px;
}

.Bio h3{
    font-size: 24px;
    font-weight: 400;
}

.Bio{
    font-size: 17px;
    color: #222222;
    margin-top: 5px;
}

.Skills{
    margin-bottom: 30px;
}

.Skills h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.Skills ul{
    list-style-type: none;
}

.Skills ul li {
    display: inline-block;
    padding: 5px 15px;
    margin-right: 20px;
    background: #efefef;
    border-radius: 5px;

}

.Link {
    margin-bottom: 30px;
}
.Link h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.Link ul{
    list-style-type: none;
}

.Link ul li {
    display: inline-block;
    padding: 5px 15px;
    margin-right: 20px;

}

.Link ul li a {
    color: blue;
    font-weight: bold;
    text-decoration: none;

}

.Link ul li a:hover{
    color: yellow;
}